/* ADD A JOKE STYLES */
#add{
    max-width: 500px;
    margin: 0 auto;
}

#add form textarea{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 2px;
    /* border-radius: 3px; */
}

#add form .submiter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}